html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
}

button {
    text-transform: uppercase;
}

input, button {
    font-size: 20px;
    background: #0277bd;
    border: none;
    text-align: center;
    /* border-radius: 10px; */
    color: white;
    margin-bottom: 10px;
}

p button, p button:nth-of-type(1) {
    margin: 0;
    background: none;
}

button:nth-of-type(1) {
    margin-top: 30px;
}

input::placeholder {
    color: lightgray;
    font-size: 16px;
}

ul {
    margin: 0;
    list-style-type: none;
    overflow: scroll;
    height: 90vh;
}

li {
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    background: #58a5f0;
    margin-bottom: 10px;
}

li:hover {
    background-color: #0277bd;

}

li:hover p:nth-of-type(1) {
    background-color: #004c8c;
}

.isFavorite {
    background-color: #f9a825;
}

.isFavorite:hover {
    background-color: #ffd95a;
}

.isFavorite:hover p:nth-of-type(1) {
    background-color: #f9a825;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 90vh;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    color: white;
}

p {
    margin: 5px 0 5px 0px;
    padding-left: 10px;
}

p:nth-of-type(1) {
    background-color: #0277bd;
    width: 300px;
    padding: 15px 0 5px 10px;
    margin: 0;
}

.isFavorite p:nth-of-type(1) {
    background-color: #c17900;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=checkbox] {
    display: none;
}

label, p button {
    cursor: pointer;
}

label {
    margin-left: 280px;
}